
<div class="container-fluid">
	<div class="row">
	<h3>List of Menu Item</h3><br>
	<div class="col-lg-6">
<table class="table table-striped table-bordered">
<th>S.No</th>
<th>Menu Item Name</th>
<th>Menu Category</th>
<th>Stock</th>
<th>Price</th>
<th colspan="2">Actions</th>
<% count = ((params[:page] || 1).to_i - 1) * 15 %>
<% @menus.each_with_index  do |menu,i|  %>
<tr>
<td><%= count + i %></td>
<td><%= menu.name%></td>
<td><%= menu.menu_category_id.present? ? @menu_category.find(menu.menu_category_id).name : 'No Data'%></td>
<td><%= menu.stock %></td>
<td><%= menu.price %></td>

<td><%= link_to 'Edit', edit_menu_path(menu) ,class:'action_link' %>&nbsp;&nbsp;</td>
<td><%= link_to 'Destroy', menu_path(menu), method: :delete, data: { confirm: 'Are you sure?' } ,class:'action_link' %></td>

</tr>
<%end%>




</table><!-- will_paginate @paging --><br>

<%= link_to "Back To Dashboard", dashboard_index_path ,class:'links' %>
&nbsp;&nbsp;<%= link_to "Add More Menu Item", new_menu_path ,class:'links' %>
</div>
</div>
</div>
