<!DOCTYPE html>
<html>
  <head>
    <title>Yasmin</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <body>
    
    
   
     <%= render 'dashboard/header' %>
     <%= render 'dashboard/sidebar' %>
      
   <div class="container">
   <% if notice %>
        <%= render 'layouts/alert' %>
      <% end %>
   
    <%= yield %>
<%= render 'dashboard/footer' %>
  </div>

  </body>
</html>
